<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display S3 Image</title>
</head>
<body>
    <h1>Image from S3</h1>
    <p>Below is an image directly linked from S3:</p>

    <!-- Замените ссылку ниже на вашу ссылку на изображение -->
    <img src="https://storage.yandexcloud.net/test-yandex-storage/1612298572_91-p-anime-peizazh-fon-fioletovii-138.jpg" alt="S3 Image" style="max-width: 100%; height: auto;">

</body>
</html>
